{% extends 'AppCoder/padre.html' %}
{% load static %}

{% block contenidoQueCambia %}

<table class="table table-bordered">

    <tr>
        <td colspan="4"><b>Clientes</b></td>
        <td class="d-flex justify-content-end">
            <a class="btn btn-primary btn-sm" href="{% url 'clientesFormulario' %}">NUEVO</a>
        </td>
    </tr>

    <tr>
        <td>Nombre</td>
        <td>Apellido</td>
        <td>Dni</td>
        <td>Email</td>
        <td>Celular</td>
    </tr>

{% if clientes %}

    {% for cliente in clientes %}            

        <tr>
            <td>{{ cliente.nombre }}</td>
            <td>{{ cliente.apellido }}</td>
            <td>{{ cliente.dni }}</td>
            <td>{{ cliente.email }}</td>
            <td>{{ cliente.celular }}</td>
        </tr>


    {% endfor %}

{% endif %}

</table>


{% endblock %}
