{% extends 'AppCoder/padre.html' %}
{% load static %}

{% block contenidoQueCambia %}

<table class="table table-bordered">

    <tr>
        <td colspan="2"><b>Productos</b></td>
        <td class="d-flex justify-content-end">
            <a class="btn btn-primary btn-sm" href="{% url 'productosFormulario' %}">NUEVO</a>
        </td>
    </tr>

    <tr>
        <td>Nombre</td>
        <td>Precio</td>
        <td>Stock</td>
    </tr>

{% if productos %}

    {% for producto in productos %}            

        <tr>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.precio }}</td>
            <td>{{ producto.stock }}</td>
        </tr>


    {% endfor %}

{% endif %}

</table>


{% endblock %}